build/
compile_commands.json
GPATH
GRTAGS
GTAGS
.vscode/
.LICENSE.icloud
.clangd/
.cache/
.DS_Store
tmp/
ZIG/raytracer-zig/image.ppm
ZIG/raytracer-zig/src/scrapbook.zig
ZIG/raytracer-zig/chap4clock.ppm
ZIG/raytracer-zig/chap5puttingtogether.ppm
